In [2]:
import pandas as pd

In [7]:
df = pd.read_csv('state.csv')
df.head()

        State  Population  Murder.Rate Abbreviation
0     Alabama     4779736          5.7           AL
1      Alaska      710231          5.6           AK
2     Arizona     6392017          4.7           AZ
3    Arkansas     2915918          5.6           AR
4  California    37253956          4.4           CA

#### 1. Show all data types, missing rates

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   State         50 non-null     object
 1   Population    50 non-null     int64
 2   Murder.Rate   50 non-null     float64
 3   Abbreviation  50 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 1.7+ KB

In [38]:
df.dtypes

State            object
Population        int64
Murder.Rate     float64
Abbreviation     object
dtype: object

In [25]:
df.describe

<bound method NDFrame.describe of              State  Population  Murder.Rate Abbreviation
0          Alabama     4779736          5.7           AL
1           Alaska      710231          5.6           AK
2          Arizona     6392017          4.7           AZ
3         Arkansas     2915918          5.6           AR
4       California    37253956          4.4           CA
5         Colorado     5029196          2.8           CO
6      Connecticut     3574097          2.4           CT
7         Delaware      897934          5.8           DE
8          Florida    18801310          5.8           FL
9          Georgia     9687653          5.7           GA
10          Hawaii     1360301          1.8           HI
11           Idaho     1567582          2.0           ID
12        Illinois    12830632          5.3           IL
13         Indiana     6483802          5.0           IN
14            Iowa     3046355          1.9           IA
15          Kansas     2853118          3.1           KS
16        Kentucky     4339367          3.6           KY
17       Louisiana     4533372         10.3           LA
18           Maine     1328361          1.6           ME
19        Maryland     5773552          6.1           MD
20   Massachusetts     6547629          2.0           MA
21        Michigan     9883640          5.4           MI
22       Minnesota     5303925          1.6           MN
23     Mississippi     2967297          8.6           MS
24        Missouri     5988927          6.6           MO
25         Montana      989415          3.6           MT
26        Nebraska     1826341          2.9           NE
27          Nevada     2700551          6.0           NV
28   New Hampshire     1316470          0.9           NH
29      New Jersey     8791894          3.9           NJ
30      New Mexico     2059179          4.8           NM
31        New York    19378102          3.1           NY
32  North Carolina     9535483          5.1           NC
33    North Dakota      672591          3.0           ND
34            Ohio    11536504          4.0           OH
35        Oklahoma     3751351          4.5           OK
36          Oregon     3831074          2.0           OR
37    Pennsylvania    12702379          4.8           PA
38    Rhode Island     1052567          2.4           RI
39  South Carolina     4625364          6.4           SC
40    South Dakota      814180          2.3           SD
41       Tennessee     6346105          5.7           TN
42           Texas    25145561          4.4           TX
43            Utah     2763885          2.3           UT
44         Vermont      625741          1.6           VT
45        Virginia     8001024          4.1           VA
46      Washington     6724540          2.5           WA
47   West Virginia     1852994          4.0           WV
48       Wisconsin     5686986          2.9           WI
49         Wyoming      563626          2.7           WY>

In [41]:
df.isnull().sum() / len(df)

State           0.0
Population      0.0
Murder.Rate     0.0
Abbreviation    0.0
dtype: float64

#### 2. Numerical variables provide mean, SD, five number summary, histogram

In [46]:
df.describe()

         Population  Murder.Rate
count  5.000000e+01    50.000000
mean   6.162876e+06     4.066000
std    6.848235e+06     1.915736
min    5.636260e+05     0.900000
25%    1.833004e+06     2.425000
50%    4.436370e+06     4.000000
75%    6.680312e+06     5.550000
max    3.725396e+07    10.300000

#### 3. Categorical variables provide frequency table and bar chart

In [55]:
df.value_counts()

State           Population  Murder.Rate  Abbreviation
Alabama         4779736     5.7          AL              1
Pennsylvania    12702379    4.8          PA              1
Nevada          2700551     6.0          NV              1
New Hampshire   1316470     0.9          NH              1
New Jersey      8791894     3.9          NJ              1
New Mexico      2059179     4.8          NM              1
New York        19378102    3.1          NY              1
North Carolina  9535483     5.1          NC              1
North Dakota    672591      3.0          ND              1
Ohio            11536504    4.0          OH              1
Oklahoma        3751351     4.5          OK              1
Oregon          3831074     2.0          OR              1
Rhode Island    1052567     2.4          RI              1
Alaska          710231      5.6          AK              1
South Carolina  4625364     6.4          SC              1
South Dakota    814180      2.3          SD              1
Tennessee       6346105     5.7          TN              1
Texas           25145561    4.4          TX              1
Utah            2763885     2.3          UT              1
Vermont         625741      1.6          VT              1
Virginia        8001024     4.1          VA              1
Washington      6724540     2.5          WA              1
West Virginia   1852994     4.0          WV              1
Wisconsin       5686986     2.9          WI              1
Nebraska        1826341     2.9          NE              1
Montana         989415      3.6          MT              1
Missouri        5988927     6.6          MO              1
Mississippi     2967297     8.6          MS              1
Arizona         6392017     4.7          AZ              1
Arkansas        2915918     5.6          AR              1
California      37253956    4.4          CA              1
Colorado        5029196     2.8          CO              1
Connecticut     3574097     2.4          CT              1
Delaware        897934      5.8          DE              1
Florida         18801310    5.8          FL              1
Georgia         9687653     5.7          GA              1
Hawaii          1360301     1.8          HI              1
Idaho           1567582     2.0          ID              1
Illinois        12830632    5.3          IL              1
Indiana         6483802     5.0          IN              1
Iowa            3046355     1.9          IA              1
Kansas          2853118     3.1          KS              1
Kentucky        4339367     3.6          KY              1
Louisiana       4533372     10.3         LA              1
Maine           1328361     1.6          ME              1
Maryland        5773552     6.1          MD              1
Massachusetts   6547629     2.0          MA              1
Michigan        9883640     5.4          MI              1
Minnesota       5303925     1.6          MN              1
Wyoming         563626      2.7          WY              1
dtype: int64

#### 4. Perform at least 2 pairs of variable for 2 types of bivariate charts

#### 5. Provide a summary to describe what you know about your data in this practice.